<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-gps-tracker" version="0.0.2">
  <name>GpsTracker</name>
  <description>Gps tracking plugin for cordova</description>
  <license>MIT</license>
  <keywords>cordova,gps,tracking,cordova-android,cordova-ios</keywords>

  <js-module name="GpsTracker" src="www/GpsTracker.js">
    <clobbers target="plugins.GpsTracker"/>
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="GpsTracker">
        <param name="android-package" value="com.android.plugins.GpsTracker"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    </config-file>
    <source-file src="src/android/GpsTracker.java" target-dir="src/com.android.plugins/GpsTracker"/>
  </platform>

  <platform name="ios">
    <preference name="BACKGROUND_MODE_LOCATION" default="&lt;string&gt;location&lt;/string&gt;" />
    <preference name="LOCATION_ALWAYS_USAGE_DESCRIPTION" default="Background location-tracking is required" />
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        $BACKGROUND_MODE_LOCATION
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
      <string>$LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
    </config-file>

    <config-file parent="/*" target="config.xml">
      <feature name="GpsTracker">
        <param name="ios-package" value="GpsTracker"/>
      </feature>
    </config-file>
    <header-file src="src/ios/GpsTracker.h"/>
    <source-file src="src/ios/GpsTracker.m"/>
  </platform>
</plugin>
